# requirements.txt : please install these library before run code
# pip install -r requirements.txt

# Telegram bot API
python-telegram-bot == 21.4

# NumPy for numerical operations
numpy == 1.26.1

# Khmer natural language toolkit
khmer-nltk == 1.6

# PyTorch for machine learning
torch == 2.1.2